@inherits CarouselBase

<div class="carousel-contenedor" >
    @for (int i = 1; i <= 5; i++)
    {
        if (i == 1)
        {
            <input type="radio" id="i@i" name="images" checked />

            <div class="slide-img" id="@i">
                <img src="@ImageSource[i-1]" />
                <label class="prev" for="i5"><span></span></label>
                <label class="next" for="i@(i+1)"><span></span></label>
            </div>

        }
        else if (i == 5)
        {
            <input type="radio" id="i@(i)" name="images" />

            <div class="slide-img" id="@(i)">
                <img src="@ImageSource[i-1]" />
                <label class="prev" for="i@(i-1)"><span></span></label>
                <label class="next" for="i1"><span></span></label>
            </div>
        }
        else
        {
            <input type="radio" id="i@(i)" name="images" />
            <div class="slide-img" id="@(i)">
                <img src="@ImageSource[i-1]" />
                <label class="prev" for="i@(i-1)"><span></span></label>
                <label class="next" for="i@(i+1)"><span></span></label>
            </div>
        }


    }

    <div id="nav_slide">
        @for (int i = 1; i <= 5; i++)
        {
            <label for="img@(i)" class="dots" id="dot@(i)"></label>
        }
    </div>

</div>
