@inherits CartaDeProductoBase

<div class="cartadeproducto-contenedor">
    <NavLink class="cartadeproducto-cuerpo" href="counter">
        <div class="cartadeproducto-imagen">
            <img src="@Producto.RutaImagenProducto" alt="@Producto.NombreProducto" />
        </div>
        <div class="cartadeproducto-descripcion">
            <div class="cartadeproducto-nombre">
                @Producto.NombreProducto
            </div>
            <div class="cartadeproducto-precio">
                <div class="cartadeproducto-precio-normal">
                    @Producto.PrecioOriginalProducto
                </div>
                @if (Producto.Descuento!=null)
                {
                    <div class="cartadeproducto-descuento">
                        @Producto.Descuento
                    </div>
                    <div>
                        <div class="cartadeproducto-precio-final">
                            @Producto.PrecioFinal
                        </div>
                    </div>
                }
            </div>
            
        </div>
    </NavLink>
        
</div>
